<!-- snippets/feature-block.liquid -->
<div>
  <div class="img-container">
    {{ block.settings.image | image_url: height: '350px' | image_tag }}
  </div>
  <div>
    <h2 style="font-size:1.5rem" class="{{ block.settings.heading_font_style_subheading }}">
      {{ block.settings.title }}
    </h2>
    <p style="font-size:1rem" class="{{ block.settings.heading_font_style_body }}">
      {{ block.settings.description }}
    </p>
  </div>
</div>

<style>
  .img-container {
    height: 400px;
    overflow: hidden;
  }

  .img-container > img {
    height: 100%;
    object-fit: cover;
  }
</style>
