<div>
  <div class="jd-image-cover jd-feature-block-img-container">
    {{ block.settings.image | image_url: height: '350px' | image_tag }}
  </div>
  <div class="flex-column mt-24">
    <h2 class="jd-feature-block-title {{ block.settings.heading_font_style_subheading }}">
      {{ block.settings.title }}
    </h2>
    <p class="jd-feature-block-description {{ block.settings.heading_font_style_body }}">
      {{ block.settings.description }}
    </p>
  </div>
</div>
