<div class="container">
  <div class="main-flex">
    <!-- first section -->
    <div class="first">
      {% if section.blocks[0] %}
        {{ section.blocks[0].settings.product_image | image_url: width: 1024 | image_tag }}
      {% endif %}
    </div>
    <!-- second section -->
    <div class="second">
      <div class="text-section flex-column gap-24">
        <h2 class="{{section.settings.heading_font_style}} lh-08">{{ section.settings.collection_title }}</h2>
        {{ section.settings.description }}
      </div>
      <div class="product-card">
        {% render 'card-product',
          card_product: section.settings.product,
          show_secondary_image: section.settings.second_image
        %}
      </div>
    </div>
  </div>
  <div class="image-flex hide-on-mobile" style="width:70%;padding-right:16px">
    {% for block in section.blocks offset: 1 %}
      <div class="test">
        {{ block.settings.product_image | image_url: width: 1024 | image_tag }}
      </div>
    {% endfor %}
  </div>
</div>

<style>
  h2,
  p {
    margin: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .main-flex,
  .image-flex {
    display: flex;
    align-items: stretch;
    gap: 24px;
    flex: 1 1 auto;
  }

  .first {
    flex: 1 1 auto;
    width: 70%;
    display: flex;
    height: 700px;
  }

  .second {
    flex: 1 1 auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
  }

  .text-section {
    display: flex;
    flex-direction: column;
  }

  .description {
    font-size: 1.1rem;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .test {
    background-color: #f8f8f8;
    padding: 3rem;
    height: 400px;
  }

  .test > img {
    object-fit: contain;
  }

  @media (max-width: 992px) {
    .main-flex,
    .image-flex {
      flex-direction: column;
      align-items: center;
    }

    .first,
    .second {
      width: 100%;
      height: auto;
    }

    .second {
      display: block;
    }

    .image-flex {
      flex-direction: row;
      overflow-x: auto;
      width: 100%;
    }

    .test {
      flex: 0 0 auto; /* This will prevent the items from stretching and only take up as much width as they need */
    }

    .hide-on-mobile {
      display: none;
    }
  }

  /* For mobile devices */
  @media (max-width: 576px) {
    .text-section h2 {
      font-size: 1.5rem;
    }

    .description {
      font-size: 1rem;
    }

    .image-flex {
      gap: 16px;
    }

    .test {
      padding: 1.5rem;
      height: 300px;
    }

    .hide-on-mobile {
      display: none;
    }
  }
</style>

{% schema %}
{
  "name": "Custom Product Section",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.featured-product.settings.product.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "collection_title",
      "label": "Collection Title"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.enable_quick_buy.label"
    },
    {
      "type": "select",
      "id": "heading_font_style",
      "label": "Heading Font Style",
      "default": "font-grifinito-regular",
      "options": [
        {
          "value": "font-grifinito-regular",
          "label": "GrifinitoL Regular"
        },
        {
          "value": "font-grifinito-bold",
          "label": "GrifinitoL Bold"
        },
        {
          "value": "font-grifinito-bold-italic",
          "label": "GrifinitoL Bold Italic"
        },
        {
          "value": "font-grifinito-italic",
          "label": "GrifinitoL Italic"
        },
        {
          "value": "font-grifinito-light",
          "label": "GrifinitoL Light"
        },
        {
          "value": "font-grifinito-light-italic",
          "label": "GrifinitoL Light Italic"
        },
        {
          "value": "font-grifinito-medium",
          "label": "GrifinitoL Medium"
        },
        {
          "value": "font-grifinito-medium-italic",
          "label": "GrifinitoL Medium Italic"
        },
        {
          "value": "font-helvetica-now-micro-regular",
          "label": "HelveticaNowMicro Regular"
        },
        {
          "value": "font-helvetica-now-micro-reg-ita",
          "label": "HelveticaNowMicro Regular Italic"
        },
        {
          "value": "font-helvetica-now-micro-medium",
          "label": "HelveticaNowMicro Medium"
        },
        {
          "value": "font-helvetica-now-micro-med-ita",
          "label": "HelveticaNowMicro Medium Italic"
        },
        {
          "value": "font-helvetica-now-micro-light",
          "label": "HelveticaNowMicro Light"
        },
        {
          "value": "font-helvetica-now-micro-light-italic",
          "label": "HelveticaNowMicro Light Italic"
        },
        {
          "value": "font-helvetica-now-micro-extra-light",
          "label": "HelveticaNowMicro Extra Light"
        },
        {
          "value": "font-helvetica-now-micro-extra-bold",
          "label": "HelveticaNowMicro Extra Bold"
        },
        {
          "value": "font-helvetica-now-micro-ext-lt-ita",
          "label": "HelveticaNowMicro Extra Light Italic"
        },
        {
          "value": "font-helvetica-now-micro-ext-bd-ita",
          "label": "HelveticaNowMicro Extra Bold Italic"
        },
        {
          "value": "font-helvetica-now-micro-bold-italic",
          "label": "HelveticaNowMicro Bold Italic"
        },
        {
          "value": "font-helvetica-now-micro-bold",
          "label": "HelveticaNowMicro Bold"
        }
      ]
    },
    {
      "type": "select",
      "id": "body_font_style",
      "label": "Body Font Style",
      "default": "font-grifinito-regular",
      "options": [
        {
          "value": "font-grifinito-regular",
          "label": "GrifinitoL Regular"
        },
        {
          "value": "font-grifinito-bold",
          "label": "GrifinitoL Bold"
        },
        {
          "value": "font-grifinito-bold-italic",
          "label": "GrifinitoL Bold Italic"
        },
        {
          "value": "font-grifinito-italic",
          "label": "GrifinitoL Italic"
        },
        {
          "value": "font-grifinito-light",
          "label": "GrifinitoL Light"
        },
        {
          "value": "font-grifinito-light-italic",
          "label": "GrifinitoL Light Italic"
        },
        {
          "value": "font-grifinito-medium",
          "label": "GrifinitoL Medium"
        },
        {
          "value": "font-grifinito-medium-italic",
          "label": "GrifinitoL Medium Italic"
        },
        {
          "value": "font-helvetica-now-micro-regular",
          "label": "HelveticaNowMicro Regular"
        },
        {
          "value": "font-helvetica-now-micro-reg-ita",
          "label": "HelveticaNowMicro Regular Italic"
        },
        {
          "value": "font-helvetica-now-micro-medium",
          "label": "HelveticaNowMicro Medium"
        },
        {
          "value": "font-helvetica-now-micro-med-ita",
          "label": "HelveticaNowMicro Medium Italic"
        },
        {
          "value": "font-helvetica-now-micro-light",
          "label": "HelveticaNowMicro Light"
        },
        {
          "value": "font-helvetica-now-micro-light-italic",
          "label": "HelveticaNowMicro Light Italic"
        },
        {
          "value": "font-helvetica-now-micro-extra-light",
          "label": "HelveticaNowMicro Extra Light"
        },
        {
          "value": "font-helvetica-now-micro-extra-bold",
          "label": "HelveticaNowMicro Extra Bold"
        },
        {
          "value": "font-helvetica-now-micro-ext-lt-ita",
          "label": "HelveticaNowMicro Extra Light Italic"
        },
        {
          "value": "font-helvetica-now-micro-ext-bd-ita",
          "label": "HelveticaNowMicro Extra Bold Italic"
        },
        {
          "value": "font-helvetica-now-micro-bold-italic",
          "label": "HelveticaNowMicro Bold Italic"
        },
        {
          "value": "font-helvetica-now-micro-bold",
          "label": "HelveticaNowMicro Bold"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "product_image",
      "name": "Product Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Choose an image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Featured Section"
    }
  ]
}
{% endschema %}

{% comment %}
  <div class="outer-wrapper">
    <div class="wrapper flex-box-wrapper">
      <!-- First div (with product images) -->
      <div class="test">
        <div>
          {% if section.blocks[0] %}
            {{ section.blocks[0].settings.product_image | image_url: width: 1024 | image_tag }}
          {% endif %}
        </div>
      </div>

      <!-- Second div (with the CATENA COLLECTION details) -->
      <div class="basis-45">
        <div class="collection-text">
          <h2 class="{{section.settings.heading_font_style}}">CATENA COLLECTION</h2>
          <p class="{{section.settings.body_font_style}}" style="font-size:1rem;">
            Though Nadine Aysoy is following in the footsteps of her grandfather P.N. Ferstenberg, who was awarded the
            title ‘The Dean of the Diamond Industry’ by the Belgian government, the jeweller’s approach to design is
            anything but traditional. Playful use of colour abounds throughout her eponymous label’s designs, with the
            Rainbow bangle spotlighting yellow, orange and pink sapphires – among other gems – set in an 18-karat yellow
            gold band.
          </p>
        </div>
        {% comment %}
          <div style="width:100%">
            {%
              render 'card-product',
              card_product: section.settings.product,
              show_secondary_image: section.settings.second_image,
            %}
          </div>
        {% endcomment %}
      </div>
    </div>
    <div>
      {% for block in section.blocks offset: 1 %}
        <div class="image-container">
          {{ block.settings.product_image | image_url: width: 1024 | image_tag }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endcomment %}
