<section class="color-{{ section.settings.color_scheme }} {% if section.settings.secondary_background %}background-secondary{% else %}gradient{% endif %}">
  <div class="outer-container custom-bg-color">
    <h2 class="section-heading {{section.settings.heading_font_style_one}}">
      {{ section.settings.title_normal }}
      <span class="heading-special">{{ section.settings.title_red }}</span>
    </h2>
    <div class="content-wrapper">
      <div class="flex-container hide-on-mobile">
        {%- for block in section.blocks -%}
          {% assign next_index = forloop.index0 | plus: 1 %}

          {% if section.blocks[next_index].settings.top_bottom != null %}
            {% if section.blocks[next_index].settings.top_bottom != 'top' %}
              {% assign is_next_bottom = true %}
            {% endif %}
          {% endif %}

          {% if block.settings.top_bottom == 'top' %}
            <div class="category-card category-container" data-url="{{ block.settings.link }}">
              <h3 class="category-title {{ section.settings.link_font_style }}">
                {{- block.settings.category_name -}}
              </h3>
              <div class="primary-image-wrapper">
                {{ block.settings.category_image | image_url: width: 1024 | image_tag }}
              </div>
            </div>
            {% unless is_next_bottom %}
              <svg
                class="decorative-svg"
                width="8"
                height="80"
                viewBox="0 0 8 80"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M7.5 0.5L2.21023 79.5H0.5L5.78977 0.5H7.5Z" fill="#636363"/>
              </svg>
            {% endunless %}
          {% endif %}
        {%- endfor -%}
      </div>
      <div class="flex-container hide-on-mobile">
        {%- for block in section.blocks -%}
          {% if block.settings.top_bottom == 'bottom' %}
            <div class="category-card category-container" style="cursor:pointer" {{ block.settings.link }}>
              <h3 class="category-title {{ section.settings.link_font_style }}">{{ block.settings.category_name }}</h3>
              <div class="secondary-image-wrapper">
                {{ block.settings.category_image | image_url: width: 1024 | image_tag }}
              </div>
            </div>
            {% unless forloop.last %}
              <svg
                class="decorative-svg"
                width="8"
                height="80"
                viewBox="0 0 8 80"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M7.5 0.5L2.21023 79.5H0.5L5.78977 0.5H7.5Z" fill="#636363"/>
              </svg>
            {% endunless %}
          {% endif %}
        {%- endfor -%}
      </div>
      <div class="mobile-flex-container hide-on-desktop">
        {%- for block in section.blocks -%}
          <div style="cursor:pointer;" class="mobile-category" data-url="{{ block.settings.link }}">
            <h3 class="category-title {{ section.settings.link_font_style }}">{{ block.settings.category_name }}</h3>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</section>

<style>
  .outer-container {
    position: relative;
  }

  .outer-container.custom-bg-color {
    background-color: #e3c6b1;
    padding: 5rem 0;
  }

  .section-heading {
    text-align: center;
    margin: -9.5rem 0 0 0;
    font-size: 7.5rem;
  }

  .content-wrapper {
    margin: 12.5rem 0;
  }

  .flex-container {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }

  .category-container {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .category-title {
    pointer-events: none;
    position: relative;
    z-index: 10;
    width: 100%;
    font-size: 6.5rem;
    margin: 0;
  }

  .primary-image-wrapper,
  .secondary-image-wrapper {
    position: absolute;
    background-color: #e7e7e7;
    height: 195px;
    width: 145px;
    display: flex;
    pointer-events: none;
    justify-content: center;
  }

  .primary-image-wrapper {
    align-items: flex-start;
    transform: rotate(-5deg) scaleY(1);
    transform-origin: bottom;
    bottom: 0;
  }

  .primary-image-wrapper > img {
    rotate: -17.5deg;
    padding: 4rem 3.5rem 0 3.5rem;
  }

  .secondary-image-wrapper {
    align-items: flex-end;
    transform-origin: top;
    rotate: -5deg;
  }

  .secondary-image-wrapper > img {
    rotate: 17.5deg;
    padding: 0 3.5rem 4rem 3.5rem;
  }

  .decorative-svg {
    position: relative;
    z-index: 10;
  }

  .hide-on-desktop {
    display: none;
  }

  @media screen and (max-width: 990px) {
    .content-wrapper {
      margin: 6.5rem 0;
    }

    .hide-on-mobile {
      display: none;
    }

    .hide-on-desktop {
      display: block;
    }

    .mobile-flex-container {
      display: flex;
      text-align: center;
      flex-direction: column;
      gap: 12px;
    }

    .mobile-category:hover > h3 {
      color: #a60632;
    }
  }
</style>

<script>
  const categoryCards = document.querySelectorAll('.category-card');

  categoryCards.forEach((card) => {
    const primaryWrapper = card.querySelector('.primary-image-wrapper');
    const secondaryWrapper = card.querySelector('.secondary-image-wrapper');
    const categoryTitle = card.querySelector('.category-title');
    const targetWrapper = primaryWrapper || secondaryWrapper;

    gsap.set(targetWrapper, { scaleY: 0 });
    gsap.set(targetWrapper.querySelector('img'), { opacity: 0 });

    card.addEventListener('mouseover', () => {
      gsap.killTweensOf(targetWrapper);
      gsap.killTweensOf(targetWrapper.querySelector('img'));

      const tl = gsap.timeline();
      tl.to(categoryTitle, { color: '#A60632', duration: 0.1 })
        .to(targetWrapper, { scaleY: 1, duration: 0.25, ease: 'Power2.easeInOut' })
        .to(targetWrapper.querySelector('img'), {
          opacity: 1,
          duration: 0.1,
          ease: 'Power2.easeInOut',
        });
    });

    card.addEventListener('mouseleave', () => {
      gsap.killTweensOf(targetWrapper);
      gsap.killTweensOf(targetWrapper.querySelector('img'));

      const tl = gsap.timeline();
      tl.to(categoryTitle, { color: '#636363', duration: 0.1 })
        .to(targetWrapper.querySelector('img'), { opacity: 0, duration: 0.1, ease: 'Power2.easeInOut' })
        .to(targetWrapper, {
          scaleY: 0,
          duration: 0.25,
          ease: 'Power2.easeInOut',
        });
    });
  });

  const cards = document.querySelectorAll('.category-card');

  cards.forEach((card) => {
    card.addEventListener('click', () => {
      const cardUrl = card.getAttribute('data-url');

      // Redirect to the URL
      if (cardUrl) {
        window.location.href = cardUrl;
      }
    });
  });

  document.querySelectorAll('.mobile-category').forEach((category) => {
    category.addEventListener('click', () => {
      const cardUrl = category.getAttribute('data-url');

      // Redirect to the URL
      if (cardUrl) {
        window.location.href = cardUrl;
      }
    });
  });
</script>

{% schema %}
{
  "name": "Featured Categories",
  "tag": "section",
  "class": "section no-padding",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Main Image"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Main Product"
    },
    {
      "type": "text",
      "label": "Section Title",
      "id": "title_normal",
      "default": "Explore Our"
    },
    {
      "type": "text",
      "label": "Red Section Title",
      "id": "title_red",
      "default": "Categories"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "select",
      "id": "heading_font_style_one",
      "label": "Heading Font Style",
      "default": "font-grifinito-regular",
      "options": [
        {
          "value": "font-grifinito-regular",
          "label": "GrifinitoL Regular"
        },
        {
          "value": "font-grifinito-bold",
          "label": "GrifinitoL Bold"
        },
        {
          "value": "font-grifinito-bold-italic",
          "label": "GrifinitoL Bold Italic"
        },
        {
          "value": "font-grifinito-italic",
          "label": "GrifinitoL Italic"
        },
        {
          "value": "font-grifinito-light",
          "label": "GrifinitoL Light"
        },
        {
          "value": "font-grifinito-light-italic",
          "label": "GrifinitoL Light Italic"
        },
        {
          "value": "font-grifinito-medium",
          "label": "GrifinitoL Medium"
        },
        {
          "value": "font-grifinito-medium-italic",
          "label": "GrifinitoL Medium Italic"
        },
        {
          "value": "font-helvetica-now-micro-regular",
          "label": "HelveticaNowMicro Regular"
        },
        {
          "value": "font-helvetica-now-micro-reg-ita",
          "label": "HelveticaNowMicro Regular Italic"
        },
        {
          "value": "font-helvetica-now-micro-medium",
          "label": "HelveticaNowMicro Medium"
        },
        {
          "value": "font-helvetica-now-micro-med-ita",
          "label": "HelveticaNowMicro Medium Italic"
        },
        {
          "value": "font-helvetica-now-micro-light",
          "label": "HelveticaNowMicro Light"
        },
        {
          "value": "font-helvetica-now-micro-light-italic",
          "label": "HelveticaNowMicro Light Italic"
        },
        {
          "value": "font-helvetica-now-micro-extra-light",
          "label": "HelveticaNowMicro Extra Light"
        },
        {
          "value": "font-helvetica-now-micro-extra-bold",
          "label": "HelveticaNowMicro Extra Bold"
        },
        {
          "value": "font-helvetica-now-micro-ext-lt-ita",
          "label": "HelveticaNowMicro Extra Light Italic"
        },
        {
          "value": "font-helvetica-now-micro-ext-bd-ita",
          "label": "HelveticaNowMicro Extra Bold Italic"
        },
        {
          "value": "font-helvetica-now-micro-bold-italic",
          "label": "HelveticaNowMicro Bold Italic"
        },
        {
          "value": "font-helvetica-now-micro-bold",
          "label": "HelveticaNowMicro Bold"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_font_style_two",
      "label": "Heading Font Style",
      "default": "font-grifinito-regular",
      "options": [
        {
          "value": "font-grifinito-regular",
          "label": "GrifinitoL Regular"
        },
        {
          "value": "font-grifinito-bold",
          "label": "GrifinitoL Bold"
        },
        {
          "value": "font-grifinito-bold-italic",
          "label": "GrifinitoL Bold Italic"
        },
        {
          "value": "font-grifinito-italic",
          "label": "GrifinitoL Italic"
        },
        {
          "value": "font-grifinito-light",
          "label": "GrifinitoL Light"
        },
        {
          "value": "font-grifinito-light-italic",
          "label": "GrifinitoL Light Italic"
        },
        {
          "value": "font-grifinito-medium",
          "label": "GrifinitoL Medium"
        },
        {
          "value": "font-grifinito-medium-italic",
          "label": "GrifinitoL Medium Italic"
        },
        {
          "value": "font-helvetica-now-micro-regular",
          "label": "HelveticaNowMicro Regular"
        },
        {
          "value": "font-helvetica-now-micro-reg-ita",
          "label": "HelveticaNowMicro Regular Italic"
        },
        {
          "value": "font-helvetica-now-micro-medium",
          "label": "HelveticaNowMicro Medium"
        },
        {
          "value": "font-helvetica-now-micro-med-ita",
          "label": "HelveticaNowMicro Medium Italic"
        },
        {
          "value": "font-helvetica-now-micro-light",
          "label": "HelveticaNowMicro Light"
        },
        {
          "value": "font-helvetica-now-micro-light-italic",
          "label": "HelveticaNowMicro Light Italic"
        },
        {
          "value": "font-helvetica-now-micro-extra-light",
          "label": "HelveticaNowMicro Extra Light"
        },
        {
          "value": "font-helvetica-now-micro-extra-bold",
          "label": "HelveticaNowMicro Extra Bold"
        },
        {
          "value": "font-helvetica-now-micro-ext-lt-ita",
          "label": "HelveticaNowMicro Extra Light Italic"
        },
        {
          "value": "font-helvetica-now-micro-ext-bd-ita",
          "label": "HelveticaNowMicro Extra Bold Italic"
        },
        {
          "value": "font-helvetica-now-micro-bold-italic",
          "label": "HelveticaNowMicro Bold Italic"
        },
        {
          "value": "font-helvetica-now-micro-bold",
          "label": "HelveticaNowMicro Bold"
        }
      ]
    },
    {
      "type": "select",
      "id": "body_font_style",
      "label": "Body Font Style",
      "default": "font-grifinito-regular",
      "options": [
        {
          "value": "font-grifinito-regular",
          "label": "GrifinitoL Regular"
        },
        {
          "value": "font-grifinito-bold",
          "label": "GrifinitoL Bold"
        },
        {
          "value": "font-grifinito-bold-italic",
          "label": "GrifinitoL Bold Italic"
        },
        {
          "value": "font-grifinito-italic",
          "label": "GrifinitoL Italic"
        },
        {
          "value": "font-grifinito-light",
          "label": "GrifinitoL Light"
        },
        {
          "value": "font-grifinito-light-italic",
          "label": "GrifinitoL Light Italic"
        },
        {
          "value": "font-grifinito-medium",
          "label": "GrifinitoL Medium"
        },
        {
          "value": "font-grifinito-medium-italic",
          "label": "GrifinitoL Medium Italic"
        },
        {
          "value": "font-helvetica-now-micro-regular",
          "label": "HelveticaNowMicro Regular"
        },
        {
          "value": "font-helvetica-now-micro-reg-ita",
          "label": "HelveticaNowMicro Regular Italic"
        },
        {
          "value": "font-helvetica-now-micro-medium",
          "label": "HelveticaNowMicro Medium"
        },
        {
          "value": "font-helvetica-now-micro-med-ita",
          "label": "HelveticaNowMicro Medium Italic"
        },
        {
          "value": "font-helvetica-now-micro-light",
          "label": "HelveticaNowMicro Light"
        },
        {
          "value": "font-helvetica-now-micro-light-italic",
          "label": "HelveticaNowMicro Light Italic"
        },
        {
          "value": "font-helvetica-now-micro-extra-light",
          "label": "HelveticaNowMicro Extra Light"
        },
        {
          "value": "font-helvetica-now-micro-extra-bold",
          "label": "HelveticaNowMicro Extra Bold"
        },
        {
          "value": "font-helvetica-now-micro-ext-lt-ita",
          "label": "HelveticaNowMicro Extra Light Italic"
        },
        {
          "value": "font-helvetica-now-micro-ext-bd-ita",
          "label": "HelveticaNowMicro Extra Bold Italic"
        },
        {
          "value": "font-helvetica-now-micro-bold-italic",
          "label": "HelveticaNowMicro Bold Italic"
        },
        {
          "value": "font-helvetica-now-micro-bold",
          "label": "HelveticaNowMicro Bold"
        }
      ]
    },
    {
      "type": "select",
      "id": "link_font_style",
      "label": "Link Font Style",
      "default": "font-grifinito-regular",
      "options": [
        {
          "value": "font-grifinito-regular",
          "label": "GrifinitoL Regular"
        },
        {
          "value": "font-grifinito-bold",
          "label": "GrifinitoL Bold"
        },
        {
          "value": "font-grifinito-bold-italic",
          "label": "GrifinitoL Bold Italic"
        },
        {
          "value": "font-grifinito-italic",
          "label": "GrifinitoL Italic"
        },
        {
          "value": "font-grifinito-light",
          "label": "GrifinitoL Light"
        },
        {
          "value": "font-grifinito-light-italic",
          "label": "GrifinitoL Light Italic"
        },
        {
          "value": "font-grifinito-medium",
          "label": "GrifinitoL Medium"
        },
        {
          "value": "font-grifinito-medium-italic",
          "label": "GrifinitoL Medium Italic"
        },
        {
          "value": "font-helvetica-now-micro-regular",
          "label": "HelveticaNowMicro Regular"
        },
        {
          "value": "font-helvetica-now-micro-reg-ita",
          "label": "HelveticaNowMicro Regular Italic"
        },
        {
          "value": "font-helvetica-now-micro-medium",
          "label": "HelveticaNowMicro Medium"
        },
        {
          "value": "font-helvetica-now-micro-med-ita",
          "label": "HelveticaNowMicro Medium Italic"
        },
        {
          "value": "font-helvetica-now-micro-light",
          "label": "HelveticaNowMicro Light"
        },
        {
          "value": "font-helvetica-now-micro-light-italic",
          "label": "HelveticaNowMicro Light Italic"
        },
        {
          "value": "font-helvetica-now-micro-extra-light",
          "label": "HelveticaNowMicro Extra Light"
        },
        {
          "value": "font-helvetica-now-micro-extra-bold",
          "label": "HelveticaNowMicro Extra Bold"
        },
        {
          "value": "font-helvetica-now-micro-ext-lt-ita",
          "label": "HelveticaNowMicro Extra Light Italic"
        },
        {
          "value": "font-helvetica-now-micro-ext-bd-ita",
          "label": "HelveticaNowMicro Extra Bold Italic"
        },
        {
          "value": "font-helvetica-now-micro-bold-italic",
          "label": "HelveticaNowMicro Bold Italic"
        },
        {
          "value": "font-helvetica-now-micro-bold",
          "label": "HelveticaNowMicro Bold"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "select",
          "id": "top_bottom",
          "label": "Top Or Bottom",
          "default": "top",
          "options": [
            {
              "value": "top",
              "label": "Top"
            },
            {
              "value": "bottom",
              "label": "Bottom"
            }
          ]
        },
        {
          "type": "text",
          "label": "Category Name",
          "id": "category_name",
          "default": "Category Name"
        },
        {
          "type": "image_picker",
          "id": "category_image",
          "label": "Category Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Categories",
      "blocks": [
        {
          "type": "category"
        },
        {
          "type": "category"
        },
        {
          "type": "category"
        }
      ]
    }
  ]
}
{% endschema %}
