<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<nav class="jd-navbar {%if section.settings.absolute_header_type != "no"%}position-absolute{% endif %} padding">
  <div class="jd-search-container">
    {% render 'header-search', input_id: 'Search-In-Modal' %}
    <svg
      id="close-search"
      class="cursor-pointer"
      width="19"
      height="19"
      viewBox="0 0 19 19"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="jd-close-icon"
    >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.62252L1.62252 0L9.5 7.90099L17.401 0L19 1.62252L11.1225 9.5L19 17.401L17.401 19L9.5 11.1225L1.62252 19L0 17.401L7.90099 9.5L0 1.62252Z" fill="black"/>
    </svg>
  </div>
  <div
    class="jd-navbar-content w-full color-{{ section.settings.menu_color_scheme }} {% if section.settings.secondary_background %}background-secondary{% else %}gradient{% endif %} {%if section.settings.absolute_header_type != "no" %}jd-transparent-header{% endif %}"
  >
    <a class="full-unstyled-link" href="{{ routes.root_url }}">
      <div class="jd-navbar-logo mobile-invisible">NADINE AYSOY</div>
    </a>
    <div class="jd-navbar-container custom-section pb-0 pt-0">
      <div class="flex-row gap-24 align-items-center">
        <svg
          id="burger-menu"
          class="burger-menu"
          width="18"
          height="15"
          viewBox="0 0 18 15"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M18 0H0V1.66667H18V0Z" class="jd-fill-current"/>
          <path d="M18 6.66666H0V8.33332H18V6.66666Z" class="jd-fill-current"/>
          <path d="M18 13.3333H0V15H18V13.3333Z" class="jd-fill-current"/>
        </svg>
        <svg
          id="search"
          class="jd-search-icon"
          class="cursor-pointer"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M9.0498 1.54999C11.039 1.54999 12.9466 2.34017 14.3532 3.74672C15.7597 5.15326 16.5499 7.06094 16.5499 9.05009C16.5499 11.0392 15.7597 12.9469 14.3532 14.3535C12.9466 15.76 11.039 16.5502 9.0498 16.5502C7.06067 16.5502 5.153 15.76 3.74647 14.3535C2.33994 12.9469 1.54975 11.0393 1.54975 9.05014C1.54975 7.061 2.33994 5.15333 3.74647 3.7468C5.153 2.34027 7.06067 1.54999 9.0498 1.54999ZM9.0498 0.0499878C6.66286 0.0499878 4.37367 0.998199 2.68584 2.68603C0.998016 4.37385 0.0498047 6.66304 0.0498047 9.04999C0.0498047 11.4369 0.998016 13.7261 2.68584 15.4139C4.37367 17.1018 6.66286 18.05 9.0498 18.05C11.4368 18.05 13.7259 17.1018 15.4138 15.4139C17.1016 13.7261 18.0498 11.4369 18.0498 9.04999C18.0498 6.66304 17.1016 4.37385 15.4138 2.68603C13.7259 0.998199 11.4368 0.0499878 9.0498 0.0499878Z" class="jd-fill-current"/>
          <path d="M14.7199 14.72L19.2799 19.28Z" class="jd-fill-current"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18.7496 19.8103L14.1896 15.2503L15.2502 14.1897L19.8102 18.7497L18.7496 19.8103Z" class="jd-fill-current"/>
        </svg>
      </div>
      <div
        class="jd-navbar-wrapper color-{{ section.settings.menu_color_scheme }} {% if section.settings.secondary_background %}background-secondary{% else %}gradient{% endif %} {%if section.settings.absolute_header_type != "no" %}jd-transparent-header{% endif %}"
      >
        <div class="jd-navbar-close">
          <svg
            id="close-nav"
            class="cursor-pointer"
            width="19"
            height="19"
            viewBox="0 0 19 19"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            style="width:12px;height:12px;"
          >
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.62252L1.62252 0L9.5 7.90099L17.401 0L19 1.62252L11.1225 9.5L19 17.401L17.401 19L9.5 11.1225L1.62252 19L0 17.401L7.90099 9.5L0 1.62252Z" fill="black"/>
          </svg>
        </div>
        <div class="jd-mobile-search color-{{ section.settings.color_scheme }} {% if section.settings.secondary_background %}background-secondary{% else %}gradient{% endif %}">
          {% render 'header-search', input_id: 'Search-In-Modal' %}
        </div>
        <ul class="jd-navbar-menu">
          {% for link in section.settings.menu.links %}
            <li>
              <a href="{{ link.url}}">{{ link.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <a class="full-unstyled-link mobile-visible" href="{{ routes.root_url }}">
        <div class="jd-navbar-logo">NADINE AYSOY</div>
      </a>

      <a href="{{ routes.cart_url }}">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M13.9701 6.97V4.97C13.97 3.90915 13.5486 2.89177 12.7985 2.14163C12.0483 1.3915 11.031 0.970054 9.9701 0.970001C8.90923 0.970001 7.89182 1.39143 7.14167 2.14157C6.39153 2.89172 5.9701 3.90913 5.9701 4.97V6.97M19 6.99H1V18.99H19V6.99Z" class="jd-stroke-current" stroke-width="1.5" stroke-miterlimit="10"/>
        </svg>
      </a>
    </div>
  </div>
</nav>

<style>
  /* styles.css */

  .jd-navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    z-index: 1000;
  }

  .jd-transparent-header {
    background-color: transparent !important;
    color: white !important;
  }

  .mobile-visible {
    display: none;
  }

  .jd-search-container {
    height: 124px;
    display: flex;
    gap: 24px;
    align-items: center;
    background: white;
    position: absolute;
    width: 100%;
    padding: 5rem;
    top: 0;
    z-index: 999;
  }

  .jd-navbar-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .jd-navbar-logo {
    font-size: 20px;
    font-weight: bold;
  }

  .jd-navbar-menu {
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
  }

  .jd-search-icon {
    display: hidden;
  }

  .jd-navbar-menu li a {
    text-decoration: none;
    font-size: 1.75rem;
    color: currentColor;
  }

  .jd-fill-current {
    fill: currentColor;
  }

  .jd-stroke-current {
    stroke: currentColor;
  }

  .jd-navbar-icons {
    display: flex;
  }

  .jd-navbar-icons a {
    display: block;
    width:100%;
  }

  .jd-mobile-search {
    display: none;
  }

  .jd-navbar-icons img {
    width: 24px;
    height: auto;
  }

  .burger-menu {
    display: none; /* Hidden by default */
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
  }

  .burger-menu span {
    display: block;
    width: 25px;
    height: 3px;
  }

  .jd-navbar-close {
    display: none;
  }

  .mobile-invisible {
    display: block;
  }

  /* Responsive design adjustments */
  @media (max-width: 768px) {
    .burger-menu {
      display: flex; /* Show burger menu */
    }

    .jd-navbar-menu {
      display: none;
    }

    .jd-navbar-close {
      display: none;
    }

    .jd-mobile-search {
      display: none;
    }

    .jd-close-icon {
      height: 12px;
      width: 12px;
    }

    .jd-mobile-search.is-active {
      border-bottom: 1px solid currentColor;
      display: block;
    }

    .predictive-search {
      position: relative !important;
    }

    .jd-search-icon {
      display: none;
    }

    .jd-navbar-close.is-active {
      display: flex;
      position: sticky;
      top: 0;
      z-index: 9999;
      justify-content: flex-end;
      padding: 1.5rem;
      border-bottom: 1px solid currentColor;
      background-color:white;
    }

    .jd-navbar-wrapper {
      display:none;
      transform:translateX(-768px)
    }

    .jd-navbar-wrapper.is-active {
      display:block;
      position: fixed;
      z-index: 99999;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      overflow-y: auto; /* Allows vertical scrolling */
      max-height: 100vh; /* Optional: limits the height */
    }

    .jd-navbar-menu.is-active {
      display: block;
      text-align: left;
    }

    .jd-navbar-menu li {
      padding:1.5rem;
      border-bottom: 1px solid currentColor;
    }

    .jd-navbar-menu li a {
      text-decoration: none;
      display:block;
      width:100%;
      font-size: 12px;
      color: currentColor;
    }

    {% comment %} .jd-navbar-wrapper {
      display: none;
    } {% endcomment %}

    .mobile-visible {
      display: block;
    }

    .mobile-invisible {
      display: none;
    }
  }
</style>

<script>
  document.getElementById('burger-menu').addEventListener('click', function () {
    document.querySelector('.jd-navbar-menu').classList.toggle('is-active');
    document.querySelector('.jd-navbar-close').classList.toggle('is-active');
    document.querySelector('.jd-navbar-wrapper').classList.toggle('is-active');
    document.querySelector('.jd-mobile-search').classList.toggle('is-active');

    gsap.to('.jd-navbar-wrapper', { translateX: 0, duration: 0.5 });

    if (document.querySelector('.jd-navbar').classList.contains('position-absolute')) {
      document.querySelector('.jd-navbar-wrapper').classList.toggle('jd-transparent-header');
    }
    document.body.style.overflow = 'hidden'; // Prevent scrolling
  });

  document.getElementById('close-nav').addEventListener('click', function () {
    gsap.to('.jd-navbar-wrapper', {
      duration: 0.5,
      translateX: '-768px',
      onComplete: () => {
        document.querySelector('.jd-navbar-menu').classList.toggle('is-active');
        document.querySelector('.jd-navbar-close').classList.toggle('is-active');
        document.querySelector('.jd-navbar-wrapper').classList.toggle('is-active');
        document.querySelector('.jd-mobile-search').classList.toggle('is-active');

        if (document.querySelector('.jd-navbar').classList.contains('position-absolute')) {
          document.querySelector('.jd-navbar-wrapper').classList.toggle('jd-transparent-header');
        }
        document.body.style.overflow = ''; // Prevent scrolling
      },
    });
  });
</script>

<script>
  gsap.set('.jd-search-container', { yPercent: -124 });

  var isSearchContainerOpen = false;

  document.querySelector('#search').addEventListener('click', (event) => {
    event.stopPropagation();
    gsap.to('.jd-search-container', { yPercent: 0, duration: 0.2 });
    document.getElementById('Search-In-Modal').focus();
    isSearchContainerOpen = true;
  });

  document.addEventListener('click', function (event) {
    if (!isSearchContainerOpen) return;

    var yourComponent = document.querySelector('.jd-search-container');
    var isClickInsideComponent = yourComponent.contains(event.target);

    if (!isClickInsideComponent) {
      gsap.to('.jd-search-container', { yPercent: -124, duration: 0.2 });
      isSearchContainerOpen = false;
    }
  });

  document.querySelector('#close-search').addEventListener('click', () => {
    gsap.to('.jd-search-container', { yPercent: -124, duration: 0.2 });
    isSearchContainerOpen = false;
  });

  document.addEventListener('keydown', function (event) {
    if (event.key === 'Escape' && isSearchContainerOpen) {
      gsap.to('.jd-search-container', { yPercent: -124, duration: 0.2 });
      isSearchContainerOpen = false;
    }
  });
</script>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "select",
      "id": "absolute_header_type",
      "options": [
        {
          "value": "no",
          "label": "No"
        },
        {
          "value": "yes",
          "label": "Yes"
        }
      ],
      "default": "no",
      "label": "Absolute Header?"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "use_secondary_logo",
      "default": false,
      "label": "Use secondary logo?"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
