<section class="color-{{ section.settings.color_scheme }} {% if section.settings.secondary_background %}background-secondary{% else %}gradient{% endif %}">
  <div class="special-bg h-screen custom-section flex-column justify-center jd-special-press-container">
    <div>
      <h2 class="{{section.settings.heading_font_style}} press-heading heading-special">
        {{ section.settings.title }}
      </h2>
    </div>
    <div class="jd-flex-container">
      <div class="jd-press-image-container">
        <div class="w-full h-full jd-press-image-screen">
          {% for block in section.blocks %}
            <div class="banner-image jd-image-cover object-position-top">
              {{ block.settings.press_image | image_url: width: 1024 | image_tag }}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="jd-text-container">
        <div>
          {% for block in section.blocks %}
            <div class="jd-press-block flex-column cursor-pointer">
              {% if forloop.index == 1 %}
                <div class="separator">
                  <div class="red-line"></div>
                  <div class="gray-line"></div>
                </div>
              {% endif %}
              <div
                class="flex-row justify-space-between align-center gap-24 m-24"
              >
                <svg
                  class="jd-quote-icon"
                  width="24"
                  height="11"
                  viewBox="0 0 24 11"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M5.48211 11.0059L6.57263 9.93007L2.93263 6.29007L24 6.29007L24 4.75744L2.93263 4.75744L6.57263 1.11744L5.48211 0.0416482L4.79261e-07 5.52375L5.48211 11.0059Z" fill="#636363"/>
                </svg>
                <h3 class="{{block.settings.heading_font_style}} m-0">{{ block.settings.press_text }}</h3>
              </div>
              <div class="separator">
                <div class="red-line"></div>
                <div class="gray-line"></div>
              </div>
            </div>
          {% endfor %}
        </div>
        {{ section.settings.description }}
      </div>
    </div>
  </div>
</section>

<style>
  p {
    margin: 0;
  }

  .jd-special-press-container {
    height: 100vh;
  }

  @media (max-width: 1200px) {
    .jd-special-press-container {
      height: 100%;
    }
  }
</style>

<script>
  // Wait for the DOM to load
  document.addEventListener('DOMContentLoaded', function () {
    // Select all the .jd-press-block elements
    var pressBlocks = document.querySelectorAll('.jd-press-block');

    function highlightBlock(index) {
      gsap.to(this.querySelector('h3'), { color: '#a60632', duration: 0.45 });
      gsap.to(this.querySelector('.jd-quote-icon').firstElementChild, { fill: '#a60632', duration: 0.45 });
      if (index !== 0) {
        gsap.to(this.querySelector('.separator').querySelector('.red-line'), {
          scaleX: '100%',
          duration: 0.45,
        });
      } else {
        gsap.to(this.querySelectorAll('.separator')[1].querySelector('.red-line'), {
          scaleX: '100%',
          duration: 0.45,
        });
      }
      if (index !== 0) {
        gsap.to('.jd-press-image-screen', { yPercent: -100 * index, delay: 0.1, duration: 0.85, ease: 'expo.out' });
      }
    }

    function unhighlightBlock(index) {
      gsap.to(this.querySelectorAll('h3'), { color: '#636363', duration: 0.45 });
      gsap.to(this.querySelector('.jd-quote-icon').firstElementChild, { fill: '#636363', duration: 0.45 });
      if (index !== 0) {
        gsap.to(this.querySelector('.separator').querySelector('.red-line'), {
          scaleX: '0',
          duration: 0.45,
        });
      } else {
        gsap.to(this.querySelectorAll('.separator')[1].querySelector('.red-line'), {
          scaleX: '0',
          duration: 0.45,
        });
      }
      if (index !== 0) {
        gsap.to('.jd-press-image-screen', { yPercent: 0, delay: 0.1, duration: 0.85, ease: 'expo.out' });
      }
    }

    // Add event listeners for each block
    pressBlocks.forEach(function (block, index) {
      block.addEventListener('mouseenter', function () {
        highlightBlock.call(block, index);
      });
      block.addEventListener('mouseleave', function () {
        unhighlightBlock.call(block, index);
      });
    });
  });
</script>

{% schema %}
{
  "name": "Special Press",
  "class": "section no-padding",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "As Seen On",
      "label": "Title"
    },
    {
      "type": "select",
      "id": "heading_font_style",
      "label": "Heading Font Style",
      "default": "font-grifinito-regular",
      "options": [
        {
          "value": "font-grifinito-regular",
          "label": "GrifinitoL Regular"
        },
        {
          "value": "font-grifinito-bold",
          "label": "GrifinitoL Bold"
        },
        {
          "value": "font-grifinito-bold-italic",
          "label": "GrifinitoL Bold Italic"
        },
        {
          "value": "font-grifinito-italic",
          "label": "GrifinitoL Italic"
        },
        {
          "value": "font-grifinito-light",
          "label": "GrifinitoL Light"
        },
        {
          "value": "font-grifinito-light-italic",
          "label": "GrifinitoL Light Italic"
        },
        {
          "value": "font-grifinito-medium",
          "label": "GrifinitoL Medium"
        },
        {
          "value": "font-grifinito-medium-italic",
          "label": "GrifinitoL Medium Italic"
        },
        {
          "value": "font-helvetica-now-micro-regular",
          "label": "HelveticaNowMicro Regular"
        },
        {
          "value": "font-helvetica-now-micro-reg-ita",
          "label": "HelveticaNowMicro Regular Italic"
        },
        {
          "value": "font-helvetica-now-micro-medium",
          "label": "HelveticaNowMicro Medium"
        },
        {
          "value": "font-helvetica-now-micro-med-ita",
          "label": "HelveticaNowMicro Medium Italic"
        },
        {
          "value": "font-helvetica-now-micro-light",
          "label": "HelveticaNowMicro Light"
        },
        {
          "value": "font-helvetica-now-micro-light-italic",
          "label": "HelveticaNowMicro Light Italic"
        },
        {
          "value": "font-helvetica-now-micro-extra-light",
          "label": "HelveticaNowMicro Extra Light"
        },
        {
          "value": "font-helvetica-now-micro-extra-bold",
          "label": "HelveticaNowMicro Extra Bold"
        },
        {
          "value": "font-helvetica-now-micro-ext-lt-ita",
          "label": "HelveticaNowMicro Extra Light Italic"
        },
        {
          "value": "font-helvetica-now-micro-ext-bd-ita",
          "label": "HelveticaNowMicro Extra Bold Italic"
        },
        {
          "value": "font-helvetica-now-micro-bold-italic",
          "label": "HelveticaNowMicro Bold Italic"
        },
        {
          "value": "font-helvetica-now-micro-bold",
          "label": "HelveticaNowMicro Bold"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "description"
    }
  ],
  "blocks": [
    {
      "type": "press",
      "name": "Press",
      "settings": [
        {
          "type": "text",
          "id": "press_text",
          "label": "Text",
          "default": "VOGUE MEXICO JANUARY 2018"
        },
        {
          "type": "image_picker",
          "id": "press_image",
          "label": "Press Image",
          "info": "Upload the image that appears in the 'As Seen On' section."
        },
        {
          "type": "select",
          "id": "heading_font_style",
          "label": "Heading Font Style",
          "default": "font-grifinito-regular",
          "options": [
            {
              "value": "font-grifinito-regular",
              "label": "GrifinitoL Regular"
            },
            {
              "value": "font-grifinito-bold",
              "label": "GrifinitoL Bold"
            },
            {
              "value": "font-grifinito-bold-italic",
              "label": "GrifinitoL Bold Italic"
            },
            {
              "value": "font-grifinito-italic",
              "label": "GrifinitoL Italic"
            },
            {
              "value": "font-grifinito-light",
              "label": "GrifinitoL Light"
            },
            {
              "value": "font-grifinito-light-italic",
              "label": "GrifinitoL Light Italic"
            },
            {
              "value": "font-grifinito-medium",
              "label": "GrifinitoL Medium"
            },
            {
              "value": "font-grifinito-medium-italic",
              "label": "GrifinitoL Medium Italic"
            },
            {
              "value": "font-helvetica-now-micro-regular",
              "label": "HelveticaNowMicro Regular"
            },
            {
              "value": "font-helvetica-now-micro-reg-ita",
              "label": "HelveticaNowMicro Regular Italic"
            },
            {
              "value": "font-helvetica-now-micro-medium",
              "label": "HelveticaNowMicro Medium"
            },
            {
              "value": "font-helvetica-now-micro-med-ita",
              "label": "HelveticaNowMicro Medium Italic"
            },
            {
              "value": "font-helvetica-now-micro-light",
              "label": "HelveticaNowMicro Light"
            },
            {
              "value": "font-helvetica-now-micro-light-italic",
              "label": "HelveticaNowMicro Light Italic"
            },
            {
              "value": "font-helvetica-now-micro-extra-light",
              "label": "HelveticaNowMicro Extra Light"
            },
            {
              "value": "font-helvetica-now-micro-extra-bold",
              "label": "HelveticaNowMicro Extra Bold"
            },
            {
              "value": "font-helvetica-now-micro-ext-lt-ita",
              "label": "HelveticaNowMicro Extra Light Italic"
            },
            {
              "value": "font-helvetica-now-micro-ext-bd-ita",
              "label": "HelveticaNowMicro Extra Bold Italic"
            },
            {
              "value": "font-helvetica-now-micro-bold-italic",
              "label": "HelveticaNowMicro Bold Italic"
            },
            {
              "value": "font-helvetica-now-micro-bold",
              "label": "HelveticaNowMicro Bold"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Special Press",
      "category": "Custom"
    }
  ]
}
{% endschema %}
